#app {
  width: 800px;
  margin: 0 auto;
}

.board {
  display: grid;
  grid-template-columns: repeat(32, 25px);
  grid-template-rows: repeat(32, 25px);
}

.square {
  width: 25px;
  height: 25px;
}

.snake {
  background-color: red;
}

.even {
  background-color: yellow;
}

.odd {
  background-color: #CCCC00;
}
