#app {
  width: 640px;
  margin: 0 auto;
}

.board {
  display: grid;
  grid-template-columns: repeat(32, 20px);
  grid-template-rows: repeat(32, 20px);
}

.square {
  width: 20px;
  height: 20px;
}

.even {
  background-color: yellow;
}

.odd {
  background-color: #CCCC00;
}

.snake {
  background-color: green;
}

.food {
  background-color: red;
}
